node_modules/
www/
*.jks
*.keystore
.env*
android/local.properties
android/.gradle/
android/**/build/
ios/App/App/public/
ios/App/App/capacitor.config.json
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
